<header class="fixed top-0 w-full bg-white shadow-lg">
  <nav
    class="mx-auto flex w-full max-w-screen-xl items-center justify-between py-2"
  >
    <!-- LOGO START -->
    <a class="flex items-center justify-center gap-x-2" href="/">
      <img
        class="h-14 w-auto"
        src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Coat_of_arms_of_Yogyakarta.svg"
        alt="Logo Pemda DIY"
      />
      <div class="flex flex-col">
        <span class="text-sm font-semibold tracking-tight"
          >Bidang Akuntansi</span
        >
        <span class="text-sm font-bold uppercase tracking-wide">BPKA DIY</span>
      </div>
    </a>
    <!-- LOGO END -->

    <!-- HEADER MENU START -->
    <ul class="flex gap-x-8 font-semibold">
      <li>
        <a class="hover:text-zinc-800" href="/">Beranda</a>
      </li>
      <li>
        <a class="hover:text-zinc-800" href="/informasi">Informasi</a>
      </li>
      <li>
        <a class="hover:text-zinc-800" href="/berita">Berita</a>
      </li>
      <li>
        <a class="hover:text-zinc-800" href="/profil">Profil</a>
      </li>
    </ul>
    <!-- HEADER MENU END -->
  </nav>
</header>
